:root {
  --background-color: #F8F5ED;
  --primary-color: #01683E;
  --light-primary-color: #5D9273;
  --secondary-color: #DAE6C5;
  --tertiary-color: #CEAD8F;
  --primary-text-color: #000000;
  --secondary-text-color: white; 
}

* {
  box-sizing: border-box;
  font-family: montserrat;
}

body {
  background-color: var(--background-color);
}

p {
  margin: 0;
}