.products-holder {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#product-page-button {
    background-color: white;
    border: none;
    width: 100%;
    min-width: 200px;
}

.view-products {
    margin: 10px;
    width: 100%;
    height: 100%;
}

.view-product-inner {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.cart-products-length {
    font-size: small;
}

.product-upper-border {
    border-top: 1px solid black;
}

.info-name {
    font-size: 20px;
}

.view-product-inner-description {
    margin-left: 5%;
}